.b-photogallery-random-widget {
    margin:90px 0;
    overflow:hidden;
    text-align: center;
    padding: 15px;
    border: 1px solid #05142B;
}

.b-photogallery-random-widget:hover {
    -webkit-box-shadow: inset 0 0 0px 1px #05142B;
    -moz-box-shadow: inset 0 0 0px 1px #05142B;
    -o-box-shadow: inset 0 0 0px 1px #05142B;
    -ms-box-shadow: inset 0 0 0px 1px #05142B;
    box-shadow: inset 0 0 0px 1px #05142B;
}

.b-photogallery-random-widget .photogallery-link:link, .b-photogallery-random-widget .photogallery-link:visited {
    margin-top:10px;
    font-size: 14px;
    color: #0B244B;
    text-decoration: underline;
    line-height: 14px;
}

.b-photogallery-random-widget .photogallery-link:hover {
    text-decoration: none;
}

.b-photogallery-random-widget_image {
    max-width: 100%;
}