.b-news-category {margin-bottom:20px}
.b-news-category .ui-corner-left {border-bottom-left-radius:0}
.b-news-category .ui-corner-right {border-top-right-radius:0;}
.b-news-category .ui-button {margin-right:0}
.b-news-category a {font-size:12px; width:200px}

/* News */
.b-news-list .item {margin:-5px 0 30px -5px; padding:5px; overflow: hidden;}
.b-news-list .date {display: inline-block;
    font: 12px Arial;
    color: #0B244B;
    border-bottom: 1px solid #808CA0;
}
.b-news-list .title {
    line-height: 14px;
    margin-top: 5px;
}
.b-news-list h3:first-letter {text-transform:uppercase}
.b-news-list .item .title a:link, .b-news-list .item .title a:visited {
    font-size: 14px;
    color: #0B244B;
    text-decoration: underline;
    line-height: 14px;
}
.b-news-list .item .title a:hover {
    text-decoration: none;
}

.b-news-list .item .more a:link, .b-news-list .item .more a:visited {
    font-size: 14px;
    color: #0B244B;
    text-decoration: underline;
    line-height: 14px;
}

.b-news-list .item .more a:hover {
    text-decoration: none;
}
/*.b-news-list h3 a {margin:0 10px 0 0}*/
.b-news-list .text {
    font-size: 14px;
    color: #463F35;
    margin: 16px 0 0 0;
    line-height: 18px;
}
.b-news-list .more {font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:right; margin:3px 0 0 0}
.b-news-list .photo {margin:6px 6px 0 0; float:left}
.b-news-list .photo img {width:100px}

.b-news-single .archive {margin:20px 0; clear:left}
.b-news-single .photo {margin:0 0 20px 0}
.b-news-single .print {float:right; width:13px; height:13px; display:block; margin:-2px 0 0 0}

.b-news-single {position:relative}
.b-news-single .date {display: inline-block;
    font: 12px Arial;
    color: #0B244B;
    border-bottom: 1px solid #808CA0;
}

.b-news-single .text {
    font-size: 14px;
    color: #463F35;
    margin: 16px 0 0 0;
    line-height: 18px;
}
.b-news-single .prev, .b-news-single .next {position:absolute; top:-40px; display:none}
.b-news-single .prev a:link, .b-news-single .prev a:visited, .b-news-single .next a:link, .b-news-single .next a:visited {background-image:url(/gfx/arrowSprite.png); text-decoration:none; display: block; width: 20px; height: 26px;}
.b-news-single .prev {left:-40px}
.b-news-single .prev a {background-position:0 0}
.b-news-single .prev a:hover {background-position:0 -26px}
.b-news-single .next {left:615px}
.b-news-single .next a {background-position:-20px 0}
.b-news-single .next a:hover {background-position:-20px -26px}