.b-news-widget {}
.b-news-widget_title {font-size: 36px; margin-top: 22px; margin-bottom: 26px;}
.b-news-widget h2 {}
.b-news-widget .item {margin:5px 0 7px 0; padding:0 0 10px 0; clear:left}
.b-news-widget .date {display: inline-block; font:12px Arial; color:#0b244b; border-bottom: 1px solid #808ca0;}
.b-news-widget .text {font-size: 14px; color: #463f35; margin:16px 0 0 0; line-height: 18px;}
.b-news-widget .more {font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:right; clear:left; display:none}
.b-news-widget h3{}
.b-news-widget .title {
    line-height: 14px;
    margin-top: 5px;
}
.b-news-widget .item .title a:link, .b-news-widget .item .title a:visited {
    font-size: 14px;
    color:#0b244b;
    text-decoration: underline;
    line-height: 14px;
}
.b-news-widget .item .title a:hover {
    text-decoration: none;
}
.b-news-widget a:link, .b-news-widget a:visited {}
.b-news-widget a:hover {text-decoration:none}
.b-news-widget .rss {margin:0 0 0 10px}
.b-news-widget .rss img {vertical-align:baseline}
.b-news-widget .addYandex {position:relative; margin:0 0 0 5px; vertical-align:baseline}
.b-news-widget .addYandex img {clip: rect(60px, 428px, 76px, 400px); position:absolute; top:-57px; left:-400px; vertical-align:baseline}
.b-news-widget .photo {margin:10px 24px 0 0; float:left}
.b-news-widget .photo img {width:100px}
.b-news-widget .archive {margin:-10px 0 20px; clear:left; text-align: right; padding-right: 20px;}
.b-news-widget .archive a:link, .b-news-widget .archive a:visited {font-size: 14px; color: #0b244b; border-bottom: 1px solid #0b244b;}
.b-news-widget .archive a:hover {
    border-bottom: none;
}