@font-face {
    font-family: 'AC Line';
    src: url('/themes/business/fonts/acline/ac_line.eot');
    src: url('/themes/business/fonts/acline/ac_line.eot?#iefix') format('embedded-opentype'),
         url('/themes/business/fonts/acline/ac_line.woff') format('woff'),
         url('/themes/business/fonts/acline/ac_line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #eeeeee;
  padding:0;
  font-family: Arial;
}
body.printPage {text-align:left}
body.printPage h1 {margin:15px}
#yii-debug-toolbar-swither {top:50px}
#yii-debug-toolbar-swither .close  {opacity:1}

/****************************************/

.btn-siyanie {
    background-color: #334767;
    border: 1px solid #32435E;
    color: #FFF;
}

.btn-siyanie:hover, .btn-siyanie:focus, .btn-siyanie:active, .btn-siyanie.active, .open>.dropdown-toggle.btn-siyanie {
    background-color: #334158;
    color: #FFF;
}



#wrap { 
    border:none;
    height: auto !important;
    margin: 0 auto 175px auto;
    min-height: 100%;
    position: relative;
    background-image: url(/themes/business/gfx/main_background.png);
    background-position: 0 0;
    background-repeat: repeat;
}

#main {
    clear: both;
    padding: 0 15px 85px 15px;
    background: url(/themes/business/gfx/content_decorate.png) repeat-x 0 0,
                url(/themes/business/gfx/content_decorate.png) repeat-x 0 100%,
                #f5f5f5;
}



#head {
	height: 205px; 
	position: relative; 
	overflow:hidden;
	padding-top: 38px;
	color: #fff;
}
#head .logo {
	margin-top: 2px;
	height: 140px; 
	overflow: hidden; 
	width: 14.5%; 
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 9px;
}
#head .logo img {border: 0 none;}
#head .cname {font: 25px Arial; padding-left: 7px;}
#head .cname p {font: 16px Arial; margin-top: 0; padding: 0; margin-bottom: 12px;}
#head .company-type {text-transform: uppercase; font-family: 'AC Line'; font-size: 22px;}
#head .company-name {text-transform: uppercase;  font: 45px 'AC Line' !important; font-weight:bold !important;}
#head .company-name span{text-transform: uppercase;  font: 36px 'AC Line' !important;}
#head .tright {overflow: hidden; width: 23.35%; padding-right: 0;}
.header_contacts-row {
	display: inline-block;
	vertical-align: top;
	padding-left: 39px;
	background-image: url(/themes/business/gfx/header_addit.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	line-height: 22px;
	color: #f5f5f5;
	font-size: 16px;
	margin-bottom: 9px;
}
.header_contacts-row.phone {font-weight: bold;}
.header_contacts-row.mail {
	background-position: 0 -21px;
}
.header_contacts-row a:link, .header_contacts-row a:visited {
	color: #f5f5f5;
}

#head .tright .numbers {text-align: left;}
#head .tright .numbers p {font: 14px Arial; margin: 2px;}
#head .tright .numbers p strong {font: 20px Arial; margin: 0; padding: 0;}

.b-search-widget {
	margin-top: 15px;
    margin-left: -2px;
}

.b-search-widget_query-input {
	font-size: 16px;
	font-weight: 400;
	color: #111111;
	height: 29px;
	border-radius: 0;
	border: 1px solid #05142b;
	box-shadow: inset 0 0 0 1px #d3d6da;
	font-family: Arial;
	padding: 5px 7px 8px;
    width: 198px !important;
    margin-right: 1px;
}
.b-search-widget_query-input::-webkit-input-placeholder {
	color: #111111;
}

.b-search-widget_query-input:-moz-placeholder {
	color: #111111;
}

.b-search-widget_button-search {
	border: 1px solid #05142b;
	box-shadow: inset 0 0 0 1px #1a3d8c;
	padding: 3px 12px 3px;
	border-radius: 0;
	background: #1f46a1;
}
.b-search-widget_button-search:hover, .b-search-widget_button-search:active, .b-search-widget_button-search:focus {
	margin-top: 0;
	border-bottom-width: 0;
	background: #1a3d8c;
	border: 1px solid #05142b;
	outline: none;
}
#footer {
    padding:20px 0;
    height:175px;
    margin: -175px auto 0;
    position: relative;
    background-image: url(/themes/business/gfx/main_background.png);
    background-position: 0 0;
    background-repeat: repeat;
}
#footer .logo img {width:100px}

#footer .vcard {
    margin: 0;
    color: #f5f5f5;
    font-size: 16px;
    padding: 17px 0 0 18px;
}

#footer .vcard > div {
    margin-bottom: 16px;
}

#footer .vcard a:link, #footer .vcard a:visited {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 16px;
}

#footer .vcard a:hover {
    text-decoration: underline;
}

#cvek {height:24px; overflow:hidden; margin: 21px 16px 0 0;}
#cvek a, #cvek a:link, #cvek a:visited {
  background-image:url(/themes/business/gfx/cvek_logo.png);
  background-repeat:no-repeat;
  background-position:0 0;
  text-indent:-500px;
  display:block;
  overflow:hidden;
  width:82px;
  height:24px;
  transition-property:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
}
#cvek a:hover {background-position:0 -26px}


#text_body {

}

#container {
}
#content {
    margin-top: 25px;
}

.page-header {
    padding-bottom: 0;
    margin: 22px 0 30px;
    border-bottom: none;
}

.main_read-more a:link, .main_read-more a:visited {
    font-size: 14px;
    color:#0b244b;
    text-decoration: underline;
}

.main_read-more a:hover {
    text-decoration: none;
}

p {
    font-size: 14px;
    margin: 0 0 15px;
    line-height: 17px;
}

/*
.cContent h1 {
    margin-top: 22px;
    margin-bottom: 30px;
}*/

#sidebarLeft, #sidebarRight {margin-top: 25px;}
.block .inside {padding: 10px 25px 0;}



table.table0 td p, table.table1 td p, table.table2 td p {
    margin: 0;
    padding: 0;
}
table.table0 {
    border-collapse: collapse;
}
table.table0 td {
    border: medium none;
    padding: 5px;
}
table.table1 {
    border-collapse: collapse;
}
table.table1 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 {
    border-collapse: collapse;
}
table.table2 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 th {
    background: none repeat scroll 0 0 #FF7B12;
    border: 1px solid #FFFFFF;
    color: #111111;
    padding: 8px 5px;
    text-align: center;
}
table.table3 {
    border-collapse: collapse;
}
table.table3 td {
    border: 1px solid #CCCCCC;
    padding: 1px;
    text-align: center;
    width: 8px;
}
table.table3 td.name {
    border: 1px solid #CCCCCC;
    padding: 1px 1px 1px 5px;
    text-align: left;
    width: 8px;
}
table.table3 th {
    background: none repeat scroll 0 0 #3863BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1px;
    text-align: center;
}
table.table1 tr:hover, table.table2 tr:hover, table.table3 tr:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}

/* Виджет меню слева */
.b-menu-side-list {padding: 8px 0; position: relative; border:1px solid #eee}
.b-menu-side-list ul {list-style: none;}
.b-menu-side-list li {font-size:18px}
.b-menu-side-list .nav-list  li  a {padding:10px 15px}
.b-menu-side-list .nav-list .nav-list  li  a {padding:8px 15px}
.b-menu-side-list .nav-list .nav-list .nav-list  li  a {padding:6px 15px}
.b-menu-side-list li li {font-size:16px;}
.b-menu-side-list .nav-list .nav-list > .active > a {background:none; color:#000}
.b-menu-side-list li li li {font-size:14px;}
.b-menu-side-list .nav-list .nav-list .nav-list > .active > a {background:none; font-weight:bold; color:#000}

.b-menu-top {
    background: #1f46a1;
    border: 1px solid #05142b;
    border-radius: 0;
    margin: 0;
    padding:0;
    height: 57px;
}
.b-menu-top .nav-collapse:after {clear:both; content: ""; display: table; line-height: 0;}
.b-menu-top .pull-right {margin-top:4px; margin-bottom:0}

.b-menu-top_items {
    padding: 0 15px;
}

.b-menu-top_items li a:link, .b-menu-top_items li a:visited {
    line-height: 35px;
    font-size: 22px;
    color: #fff;
    border-radius: 0;
    padding-right: 32px;
    padding-left: 32px;
}

.b-menu-top_items>li+li {
    margin-left: 1px;
}

.b-menu-top_items>li>a:hover, .b-menu-top_items>li>a:focus {
    background-color: #334767;
}

.b-menu-top_items>li.active>a, .b-menu-top_items>li.active>a:hover, .b-menu-top_items>li.active>a:focus {
    background-color: #334767;
}

.b-main-carousel {max-height: 330px;}

.b-main-carousel_indicators {
    bottom: -5px;
}

.b-main-carousel .item {
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
    left: 0 !important;
}

.b-main-carousel .next.left, .b-main-carousel .prev.right {opacity: 1; z-index: 1;}
.b-main-carousel .active.left, .b-main-carousel .active.right {opacity: 0; z-index: 2;}

.b-tours-widget_item {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 17px 25px 15px 25px;
    border: 1px solid #05142b;
    margin-right: 28px;
    text-align: center;
    margin-bottom: 28px;
}

.b-tours-widget_title {
    margin: 30px 0 31px;
}

.b-tours-widget_item-caption {
    text-align: center;
    padding: 17px 0 3px;
}

.b-tours-widget_item-caption a:link, .b-tours-widget_item-caption a:visited {
    color: #0b244b;
    font-size: 18px;
    text-decoration: none;
}

.b-tours-widget_item-caption a:hover {
    text-decoration: underline;
}

.b-breadcrumbs {
    padding: 10px;
    margin-bottom: 25px;
    background-color: #334767;
    color: #acacac;
}

.b-breadcrumbs_link:link, .b-breadcrumbs_link:visited {
    color: #fff;
}

.b-breadcrumbs_link:hover {
    color: #fff;
}

.b-tours .title {
    padding: 10px 0;
    line-height: 16px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.b-tours .title .link:visited, .b-tours .title .link:link {
    font-size: 14px;
    color: #0B244B;
    text-decoration: underline;
    line-height: 14px;
}

.b-tours .title .link:hover {
    text-decoration: none;
}

.b-tours .item-inner {
    padding: 15px;
    border: 1px solid #05142B;
    margin-bottom: 30px;
}

.b-tours .item-inner:hover {
    -webkit-box-shadow: inset 0 0 0px 1px #05142B;
    -moz-box-shadow: inset 0 0 0px 1px #05142B;
    -o-box-shadow: inset 0 0 0px 1px #05142B;
    -ms-box-shadow: inset 0 0 0px 1px #05142B;
    box-shadow: inset 0 0 0px 1px #05142B;
}

.b-tours .image img {
    max-width: 100%;
}

.b-tour-categories {
    margin-bottom: 25px;
}

.b-tour-categories a:link, .b-tour-categories a:visited {
    color: #0B244B;
    font-size: 14px;
}

.b-tour-categories .nav-pills>li.active>a, .b-tour-categories .nav-pills>li.active>a:hover, .b-tour-categories .nav-pills>li.active>a:focus {
    background-color: #334767;
    color: #fff;
}

.b-tour-categories .nav-tabs>li.active>a, .b-tour-categories .nav-tabs>li.active>a:hover, .b-tour-categories .nav-tabs>li.active>a:focus {
    background-color: #334767;
    color: #fff;
    border: 1px solid #32435E;
    border-bottom-color: rgba(0, 0, 0, 0);
}

.b-tour-categories .nav-tabs>li>a {
    border: 1px solid #DDD;
    border-bottom-color: rgba(0, 0, 0, 0);
}

.b-translate-widget {
    margin-top: 7px;
}

.wShare{margin:0}
.wShare td{text-align:left;}

.b-ajax-process {background:url(/engine/admin/gfx/loading_s.gif) no-repeat 0 0; display:inline-block; visibility:hidden; width:16px; height:16px; line-height:16px; vertical-align:text-top;}
.b-ajax-process-active {visibility:visible;}

.pagination .b-ajax-process {margin-left:20px; margin-top:-15px}

.dropdown-menu {background:#1f46a1}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav a:hover {background-color: #334767 !important}
